<!DOCTYPE html>
<html>
    <head>
        <title>Teste do Envio do Form</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
    <body>

        <h2>Teste do Envio do Form</h2>

        <p>MerchantID: <%= data.merchantid %></p>
        <p>Valor: <%= data.valor %></p>

        <p><a href='/'> Home</a></p>

    </body>
</html>